@tailwind base;
@tailwind components;
@tailwind utilities;



/* Select the scrollbar track */
::-webkit-scrollbar-track {
    /* Change the background color */
    background-color: #f1f1f1;
  }
  
  /* Select the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    /* Change the background color */
    background-color: rgb(3, 3, 58);
  
    /* Change the size of the thumb */
    height: 30px;
    width: 30px;
  }